@import "tailwindcss";

/* font */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* latest deals */

.row{
    /* height: 400px; */
    display: flex;
    gap: 5px;
    /* margin-bottom: 5px; */
}
/* .row>div {
flex: 1;
} */


.vertical-collage img{
    /* height: calc( (100% - 5px)/2 ); */


}

/* border */
.borderr-one{
  border-left: 2px solid white;
  padding-left:5px;
  height: 5px;
  /* position: absolute; */
  
  /* margin-left: -33px; */
  /* top: 0; */
}

/* bg-image */
.back-image{
  background-image: url('./image/news-letter-bg.png');
  position: relative;
 background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    

}

/* shared item */

/* font color nav*/
.orange{
  color: rgba(233, 90, 8, 1);
}
.nav-color-1{
  color: rgba(37, 36, 50, 1);
}
.nav-color-2{
  color: rgba(137, 135, 161, 1);
}
.nav-color-3{
  color: rgba(0, 0, 0, 1);
}

/* font common color */

.common-color{
  color: rgba(0, 0, 0, 0.5);
}

/* form */
input[type='email']{
  
}

/* footer color */
.footer-color{
  color: rgba(107, 114, 128, 1);
}

/* responsive media query */
@media screen and (max-width: 576px) {
  header{
    
   justify-items: center;
        /* margin: 10px auto 0px auto; */
        width: 100%;
        
    
    }

  nav {
    /* width: 100%; */
    justify-items: center;
    
    }
    
  .home, .shop, .about{
    visibility: hidden;
  }
 
/* .navbar{
  background-color: blueviolet;
  margin-right: -17px;
} */
.cart{
  

width: 120px;
margin-left: -55px;
}
  /* always fresh flower */
  .always-fresh{
    width: 100%;
    justify-items: center;
    margin-top: 28px;
        /* margin: 0px auto; */
    display: flex;
    flex-direction: column-reverse;
    
  }
  .description{
    
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .fresh{
    font-size: 2.5rem;
  }

  /* our plants */
  .our-plants{
    width: 100%;
    justify-items: center;
    margin-top: 28px;
    margin-bottom: 0px;
        /* margin: 0 auto; */
        
  }
  .plants-p{
    max-width: 490px;
  }
  .plants-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 17px;
    margin-left: 14px;
    margin-top: -13px;
    
  }

  /* flower and plants lover */
  .flower-lover{
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    /* background-color: blueviolet; */
    width: 100%;
        /* margin: 0 auto; */
  }

  .flower-lover-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-items: center;
  }
  .unorder{
    width: 100%;
    justify-items: center;
  }
  .flower-store{
    width: 100%;
    justify-items: center;
  }
  .flower-store-img{
    width: 94%;
  }
  .list-styles{
     margin-right: -50px;
     width: 463px;
    
  }

  .flower-font{
    font-size: 2.5rem;
    margin-left: -40px;
    
  }
  
  .badge{
    visibility: hidden;
  }
  

  /* Latest Deals */
  .deals{
    justify-items: center;
        /* margin: 0 auto; */
        margin-bottom: 0px;
        width: 100%;
  }

  .deals-flex{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    
  }

  .latest-title{
    margin-bottom: 16px;
  }
  
  .deals-des{
    max-width: 490px;
    margin-bottom: 50px;
  }
  
  .two-image{
    
    width: 100%;
  }

  .first-image-text{
    margin-top: 107px;
    margin-left: 166px;
  }

  .second-image-text{
    margin-top: 393px;
    margin-left: 173px;
  }
  .image-1{
    margin-top: 0px;
    margin-left: 28px;
    width: 90%;
  }
  .image-2{
    margin-top: 20px;
    margin-left: 28px;
    width: 90%;
  }

  .one-image{
    
    width: 100%;
    margin-top: -5px;
  }

  .image-3{
    margin-top: 20px;
    margin-left: 28px;
    width: 90%;
    /* max-width: 367px;
    margin-top: 17px;
    margin-left: 40px; */
    
   
  }
  .third-image-text{
    font-size: 16px;
    margin-top: 137px;
    margin-left: 73px;
  }
  .third-image-title{
    font-size: 1.25rem;
  }
  .third-image-button{
    font-size: 1rem;
  }
  /* Join the colorful Bunch */
  
  
  .Join {

    justify-items: center;
    margin-top: -87px;
    margin-bottom: 0px;
    /* background-color: blue; */
    margin-left: -65px;
   
   
        /* margin: 0 auto; */
        

  }
 .join-title{
  width: 235px;
  font-size: 1.25rem;
  margin-right: -39px;
 }

.info{
  padding: 15.5px 15px 15.5px 15px;
}

.info-button{
  margin-right: -49px;
  padding-right: 12px;
  padding-left: 12px;
}

 /* .join-input{
  width: 321px ;
 } */

 .back-image{
  background-image: url('./image/news-letter-bg.png');
  /* position: relative; */
 background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    /* width: 100%; */
    /* height: 100%; */
    

}

/* footer */
footer{
  margin-top: -82px;
  margin-bottom: 50px;
  
  width: 100%;
  

}
.footer-one{
  /* width: 95%; */
  
display: grid;
grid-template-columns: repeat(1, 1fr);
margin-left: 20px;
margin-right: 14px;

}

.div-one{
  
  margin-bottom: 20px;
 
  margin-right: -300px;
}
.div-two{
  margin-bottom: 20px;
}
.div-four{
  margin-bottom: -289px;
}
.include-font{
  font-size: 1rem;
}
}